Repository HuiruDong/fluentui-plus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

refactor(hooks): move useFloatingPosition to shared hooks directory
  src/components/Cascader/CascaderPanel.tsx
  src/components/Select/Listbox.tsx
  src/components/Select/__tests__/Listbox.test.tsx
  src/components/Select/hooks/index.ts
  src/hooks/__tests__/useFloatingPosition.test.ts
  src/hooks/index.ts
  src/hooks/useFloatingPosition.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

fix(image): prevent race condition during ImagePreview unmount
  src/components/Image/ImagePreview.tsx
  src/components/Image/__tests__/ImagePreview.test.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

chore: release 2.6.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Image): add fit prop for object-fit control
  demo/pages/ImagePage.tsx
  src/components/Image/Image.tsx
  src/components/Image/ImageGroup.tsx
  src/components/Image/__tests__/Image.test.tsx
  src/components/Image/index.less
  src/components/Image/types.ts
  stories/Image.stories.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

chore(deps): upgrade fluentui react-components and related packages
  package.json
  yarn.lock
Due: prettier --write

chore: release 2.7.0
  CHANGELOG.md
  package.json
Due: prettier --write

test(tabs): fix TabList onTabSelect event type in mock
  src/components/Tabs/__test__/Tabs.test.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

test(tabs): improve type safety in TabList mock
  src/components/Tabs/__test__/Tabs.test.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

chore: release 2.7.1
  CHANGELOG.md
  package.json
Due: prettier --write

ci(release): remove npm token from workflow
  .github/workflows/release.yml
Due: prettier --write

chore: release 2.7.2
  CHANGELOG.md
  package.json
Due: prettier --write

ci(release): fix release failed
  .github/workflows/release.yml
Due: prettier --write

chore: release 2.7.3
  CHANGELOG.md
  package.json
Due: prettier --write

chore: release 2.7.4
  CHANGELOG.md
  package.json
Due: prettier --write

fix(tabs): ensure icon prop defaults to null when undefined
  src/components/Tabs/OverflowMenuItem.tsx
  src/components/Tabs/Tabs.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

chore: release 2.7.5
  CHANGELOG.md
  package.json
Due: prettier --write

docs(demo): add API reference tables to MessagePage
  demo/pages/MessagePage.tsx
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  jest --findRelatedTests --passWithNoTests: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: demo/**/*.{js,jsx,ts,tsx}) or (any of: stories/**/*.{js,jsx,ts,tsx})) or (any of: *.{json,md,yml,yaml})
