Repository HuiruDong/fluentui-plus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

feat(Message): add global message notification component
  demo/components/Layout.tsx
  demo/pages/MessagePage.tsx
  demo/router.tsx
  src/components/Message/Message.tsx
  src/components/Message/MessageContainer.tsx
  src/components/Message/index.ts
  src/components/Message/types.ts
  src/components/index.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

test(Message): add comprehensive unit tests for Message and MessageContainer
  src/components/Message/__tests__/Message.test.tsx
  src/components/Message/__tests__/MessageContainer.test.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

docs(Message): add Storybook stories and API reference documentation
  docs/API_REFERENCE.md
  stories/Message.stories.tsx
Due: prettier --write

feat(Table): add Table component with scroll and fixed columns support
  demo/components/Layout.tsx
  demo/pages/TablePage.tsx
  demo/router.tsx
  src/components/Table/Body.tsx
  src/components/Table/ColGroup.tsx
  src/components/Table/Header.tsx
  src/components/Table/Row.tsx
  src/components/Table/Table.tsx
  src/components/Table/index.less
  src/components/Table/index.ts
  src/components/Table/types.ts
  src/components/Table/utils/fixedColumns.ts
  src/components/Table/utils/index.ts
  src/components/index.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

perf(Table): optimize scroll synchronization with requestAnimationFrame
  src/components/Table/Table.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

test(Table): add comprehensive unit tests for Table component
  src/components/Table/__tests__/Body.test.tsx
  src/components/Table/__tests__/ColGroup.test.tsx
  src/components/Table/__tests__/Header.test.tsx
  src/components/Table/__tests__/Row.test.tsx
  src/components/Table/__tests__/Table.test.tsx
  src/components/Table/__tests__/utils/fixedColumns.test.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

docs(Table): add comprehensive API documentation and Storybook stories
  docs/API_REFERENCE.md
  stories/Table.stories.tsx
Due: prettier --write

refactor(Table): pass prefixCls as prop through component hierarchy
  src/components/Table/Body.tsx
  src/components/Table/Header.tsx
  src/components/Table/Row.tsx
  src/components/Table/Table.tsx
  src/components/Table/__tests__/Body.test.tsx
  src/components/Table/__tests__/Header.test.tsx
  src/components/Table/__tests__/Row.test.tsx
  src/components/Table/types.ts
  stories/Table.stories.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

feat(Table): add row selection functionality
  demo/pages/TablePage.tsx
  src/components/Table/Body.tsx
  src/components/Table/ColGroup.tsx
  src/components/Table/Header.tsx
  src/components/Table/Row.tsx
  src/components/Table/SelectionCell.tsx
  src/components/Table/SelectionColumn.tsx
  src/components/Table/Table.tsx
  src/components/Table/__tests__/SelectionCell.test.tsx
  src/components/Table/__tests__/SelectionColumn.test.tsx
  src/components/Table/__tests__/Table.test.tsx
  src/components/Table/__tests__/hooks/useSelection.test.ts
  src/components/Table/hooks/index.ts
  src/components/Table/hooks/useSelection.ts
  src/components/Table/index.less
  src/components/Table/index.ts
  src/components/Table/types.ts
  stories/Table.stories.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

feat(Spin): add Spin loading component with comprehensive features
  demo/components/Layout.tsx
  demo/pages/SpinPage.tsx
  demo/router.tsx
  docs/API_REFERENCE.md
  src/components/Spin/Spin.tsx
  src/components/Spin/__tests__/Spin.test.tsx
  src/components/Spin/index.less
  src/components/Spin/index.ts
  src/components/Spin/types.ts
  src/components/index.ts
  stories/Spin.stories.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

feat(Pagination): add Pagination component with full functionality
  demo/components/Layout.tsx
  demo/pages/PaginationPage.tsx
  demo/router.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Pagination/PaginationList.tsx
  src/components/Pagination/QuickJumper.tsx
  src/components/Pagination/SimplePagination.tsx
  src/components/Pagination/SizeChanger.tsx
  src/components/Pagination/TotalInfo.tsx
  src/components/Pagination/hooks/index.ts
  src/components/Pagination/hooks/usePaginationCalculations.ts
  src/components/Pagination/hooks/usePaginationHandlers.ts
  src/components/Pagination/hooks/usePaginationState.ts
  src/components/Pagination/index.less
  src/components/Pagination/index.ts
  src/components/Pagination/types.ts
  src/components/Pagination/utils/constants.ts
  src/components/Pagination/utils/index.ts
  src/components/Pagination/utils/navigation.ts
  src/components/Pagination/utils/pagination.ts
  src/components/index.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

test(Pagination): add comprehensive test coverage and Storybook stories
  src/components/Pagination/__tests__/Pagination.test.tsx
  src/components/Pagination/__tests__/PaginationList.test.tsx
  src/components/Pagination/__tests__/QuickJumper.test.tsx
  src/components/Pagination/__tests__/SimplePagination.test.tsx
  src/components/Pagination/__tests__/SizeChanger.test.tsx
  src/components/Pagination/__tests__/TotalInfo.test.tsx
  src/components/Pagination/__tests__/hooks/usePaginationCalculations.test.ts
  src/components/Pagination/__tests__/hooks/usePaginationHandlers.test.ts
  src/components/Pagination/__tests__/hooks/usePaginationState.test.ts
  src/components/Pagination/__tests__/utils/navigation.test.ts
  src/components/Pagination/__tests__/utils/pagination.test
  stories/Pagination.stories.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

feat(Table): add pagination support
  demo/pages/TablePage.tsx
  docs/API_REFERENCE.md
  src/components/Table/Table.tsx
  src/components/Table/__tests__/Table.test.tsx
  src/components/Table/__tests__/hooks/usePagination.test.ts
  src/components/Table/hooks/index.ts
  src/components/Table/hooks/usePagination.ts
  src/components/Table/index.less
  src/components/Table/types.ts
  stories/Table.stories.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

chore: release 2.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Table): improve horizontal scroll behavior to fill container width
  demo/pages/TablePage.tsx
  src/components/Table/Table.tsx
  src/components/Table/__tests__/Table.test.tsx
  src/components/Table/index.less
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

chore: release 2.4.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Table): auto-fix selection column when left fixed columns exist
  src/components/Table/Header.tsx
  src/components/Table/Row.tsx
  src/components/Table/Table.tsx
  src/components/Table/__tests__/Header.test.tsx
  src/components/Table/__tests__/Table.test.tsx
  src/components/Table/__tests__/utils/fixedColumns.test.ts
  src/components/Table/utils/fixedColumns.ts
  stories/Table.stories.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

chore: release 2.4.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Pagination): override Dropdown border styles for size changer
  src/components/Pagination/index.less
Due: none

chore: release 2.4.3
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(Table): remove shadow effect for fixed columns
  src/components/Table/Header.tsx
  src/components/Table/Row.tsx
  src/components/Table/__tests__/Header.test.tsx
  src/components/Table/__tests__/Row.test.tsx
  src/components/Table/index.less
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

chore: release 2.4.4
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Table): only show header scrollbar placeholder when body has actual scrollbar
  src/components/Table/Table.tsx
  src/components/Table/__tests__/Table.test.tsx
  src/components/Table/index.less
  src/setupTests.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

chore: release 2.4.5
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Table): correct pagination total count handling for server-side mode
  src/components/Table/Table.tsx
  src/components/Table/__tests__/Table.test.tsx
  src/components/Table/__tests__/hooks/usePagination.test.ts
  src/components/Table/hooks/usePagination.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

chore: release 2.4.6
  CHANGELOG.md
  package.json
Due: prettier --write

feat(layout): add Layout component with demo and stories
  demo/components/Layout.tsx
  demo/pages/LayoutPage.tsx
  demo/router.tsx
  src/components/Layout/Content.tsx
  src/components/Layout/Footer.tsx
  src/components/Layout/Header.tsx
  src/components/Layout/Layout.tsx
  src/components/Layout/Sider.tsx
  src/components/Layout/index.less
  src/components/Layout/index.ts
  src/components/Layout/types.ts
  src/components/index.ts
  stories/Layout.stories.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

test(Layout): add comprehensive unit tests for Layout components
  src/components/Layout/Layout.tsx
  src/components/Layout/__tests__/Content.test.tsx
  src/components/Layout/__tests__/Footer.test.tsx
  src/components/Layout/__tests__/Header.test.tsx
  src/components/Layout/__tests__/Layout.test.tsx
  src/components/Layout/__tests__/Sider.test.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

feat(upload): add Upload component with drag-and-drop support
  demo/components/Layout.tsx
  demo/pages/UploadPage.tsx
  demo/router.tsx
  src/components/Upload/Upload.tsx
  src/components/Upload/UploadDragger.tsx
  src/components/Upload/index.less
  src/components/Upload/index.ts
  src/components/Upload/types.ts
  src/components/index.ts
  stories/Upload.stories.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

test(Upload): add comprehensive unit tests for Upload and UploadDragger components
  src/components/Upload/UploadDragger.tsx
  src/components/Upload/__tests__/Upload.test.tsx
  src/components/Upload/__tests__/UploadDragger.test.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

style(upload): refine API table structure and fix dragger sizing
  demo/pages/UploadPage.tsx
  src/components/Upload/index.less
Due: prettier --write

chore: release 2.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(tabs): add Tabs component with overflow menu support
  demo/components/Layout.tsx
  demo/pages/TabsPage.tsx
  demo/router.tsx
  src/components/Tabs/OverflowMenu.tsx
  src/components/Tabs/OverflowMenuItem.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/index.ts
  src/components/Tabs/types.ts
  src/components/index.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

test(tabs): add unit tests for Tabs component
  src/components/Tabs/__test__/OverflowMenu.test.tsx
  src/components/Tabs/__test__/OverflowMenuItem.test.tsx
  src/components/Tabs/__test__/Tabs.test.tsx
  stories/Tabs.stories.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

chore: release 2.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(tabs): update Tabs component logic and adjust .gitignore
  .gitignore
  src/components/Tabs/Tabs.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests

chore: release 2.6.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Image): add Image component with preview and gallery support
  demo/components/Layout.tsx
  demo/pages/HomePage.tsx
  demo/pages/ImagePage.tsx
  demo/router.tsx
  src/components/Image/Counter.tsx
  src/components/Image/Fallback.tsx
  src/components/Image/Image.tsx
  src/components/Image/ImageGroup.tsx
  src/components/Image/ImagePreview.tsx
  src/components/Image/Navigation.tsx
  src/components/Image/Placeholder.tsx
  src/components/Image/PreviewContent.tsx
  src/components/Image/Toolbar.tsx
  src/components/Image/constants.ts
  src/components/Image/context/ImageContext.tsx
  src/components/Image/context/index.ts
  src/components/Image/hooks/index.ts
  src/components/Image/hooks/useBodyScrollLock.ts
  src/components/Image/hooks/useKeyboardShortcuts.ts
  src/components/Image/hooks/useNavigation.ts
  src/components/Image/hooks/useTransform.ts
  src/components/Image/hooks/useWheelZoom.ts
  src/components/Image/index.less
  src/components/Image/index.ts
  src/components/Image/types.ts
  src/components/index.ts
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

test(Image): add comprehensive unit tests and Storybook story
  src/components/Image/__tests__/Counter.test.tsx
  src/components/Image/__tests__/Fallback.test.tsx
  src/components/Image/__tests__/Image.test.tsx
  src/components/Image/__tests__/ImageGroup.test.tsx
  src/components/Image/__tests__/ImagePreview.test.tsx
  src/components/Image/__tests__/Navigation.test.tsx
  src/components/Image/__tests__/Placeholder.test.tsx
  src/components/Image/__tests__/PreviewContent.test.tsx
  src/components/Image/__tests__/Toolbar.test.tsx
  src/components/Image/__tests__/hooks/useBodyScrollLock.test.ts
  src/components/Image/__tests__/hooks/useKeyboardShortcuts.test.ts
  src/components/Image/__tests__/hooks/useNavigation.test.ts
  src/components/Image/__tests__/hooks/useTransform.test.ts
  src/components/Image/__tests__/hooks/useWheelZoom.test.ts
  stories/Image.stories.tsx
Due: eslint --fix, jest --findRelatedTests --passWithNoTests, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  jest --findRelatedTests --passWithNoTests: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: demo/**/*.{js,jsx,ts,tsx}) or (any of: stories/**/*.{js,jsx,ts,tsx})) or (any of: *.{json,md,yml,yaml})
